LDM/EjerciciosLDM/Ejercicios_DTD/ejercicio31.dtd

<!ELEMENT concesionario (modelo_coche*)>
<!ELEMENT modelo_coche (descripcion)*>
<!ATTLIST modelo_coche id_ModeloCoche ID #REQUIRED
                        id_RefModelo IDREFS #IMPLIED>
<!ELEMENT descripcion (#PCDATA| tipo_motor | potencia | consumo_medio| precio)*>
<!ELEMENT tipo_motor (#PCDATA)>
<!ATTLIST tipo_motor id_ModeloCoche IDREF #REQUIRED>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT consumo_medio (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
