LDM/EjerciciosLDM/Ejercicios_XSD/ejercicios/Ej002-XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marvel" />

  <xs:complexType name="tipoMarvel">
    <xs:sequence>
      <xs:element name="superheroe" type="atributosSuperheroe" maxOccurs="unbounded"/>
      
    </xs:sequence>
  </xs:complexType>
  <xs:attribute name="creador" type="xs:string"/>
  <xs:attribute name="nombre" type="xs:string"/>


<xs:complexType name="atributosSuperheroe">
  <xs:sequence>
    <xs:element name="poder" type="texto"/>
    <xs:element name="color" type="texto"/>
    <xs:element name="procedencia" type="texto"/>

  </xs:sequence>
</xs:complexType>

<xs:simpleType name="texto">
  <xs:restriction base="xs:string">
    <xs:minLength value="1"/>
  </xs:restriction>
</xs:simpleType>

</xs:schema>
