LDM/EjerciciosLDM/Ejercicios_XSD/ejercicios/Ej001-XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marvel" type="tipoMarvel"/>

  <xs:complexType name="tipoMarvel">
      <xs:sequence>
        <xs:element name="superheroe" type="longitudMinimaCaracter" maxOccurs="unbounded"/>
        <xs:element name="supervillano" type="longitudMinimaCaracter" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="longitudMinimaCaracter">
      <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
      </xs:restriction>
    </xs:simpleType>
</xs:schema>
