LDM/EjerciciosLDM/Ejercicios_XSD/ejercicios/Ej002-XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marvel" />

  <xs:complexType name="tipoMarvel">
    <xs:sequence>
      <xs:element name="superheroe" type="xs:string" maxOccurs="unbounded"/>
      
    </xs:sequence>
  </xs:complexType>
  <xs:attribute name="creador" type="xs:string"></xs:attribute>
  <xs:attribute name="nombre" type=""></xs:attribute>
</xs:schema>
